<MudPaper Elevation="2">
    <MudText Typo="Typo.subtitle1" Color="Color.Primary">@Book.BoodId | @Book.Name</MudText>

    <MudText Typo="Typo.h3">@PageId</MudText>

    @TitleFragment

    @if (ContentFragment != null)
    {
        @ContentFragment
    }
    else
    {
        <h2>Contenido por Defecto</h2>
    }

    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => OnPrintClick(@PageId))">Imprimir</MudButton>
</MudPaper>

